# ------------------------
# Carpeta Python Corazon
# ------------------------
Python_Corazon/

# ------------------------
# Ignorar archivos específicos en Testing-EvolutionAPI
# ------------------------
Testing-EvolutionAPI/bd-evolution.py
Testing-EvolutionAPI/Blip-readBase64.py
Testing-EvolutionAPI/blip.py
Testing-EvolutionAPI/blip2-gradio-Interface.py

# ------------------------
# Ignorar prácticas xDATA-Reniec
# ------------------------
xDATA-Reniec/

# ------------------------
# Ignorar archivos individuales en otras carpetas
# ------------------------
Xentrics-Pruebas/xentricRUC.py
contacts_cache.json
getRemoteIDFunctionCOPIASEGURUDADSUCESS.py
imgvoucher64.txt

#falta testearcls
pruebasflaskWebhook.py

traductor_english_spanish.py
whisper_api.py
Youtube-Subtitles-Extractor.py